* {
    font-family: 'Fraunces', serif;
    color: #26443c;
}

body {
    margin: 0;
    background-color: #383C80;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #C1E6DC;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32;
    font-size: 1.5em;
    border: none;
    background-color: #C1E6DC;
    box-shadow: 5px 5px 10px -3px #152b2e70, -5px -5px 15px 3px #5a99ac1f;
}

button:active{
    background-color: #ABCCC3;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display:flex;
    margin: 10px 10px 20px 10px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000025;
}

.col-2{
    grid-column: span 2; 
}

#valor-actual {
    font-size: 1.7em;
    color: #fff;
}

#valor-anterior {
    font-size: 2em;
    color: #fff;
}

#valor-operacion {
    font-size: 1em;
    color: #fff;
}